#contenCompQui{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mapa {
    position: relative;
    width: 90%;
    max-width: 68%;
    aspect-ratio: 1/1;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../../tipoLetra/LeagueSpartan-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker';
    src: url('../../tipoLetra/Gliker-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.nodo {
  position: absolute;
  width: 30%;
  height: 18%;
  border-radius: 50% / 50%; 
  background-color: #dcc00b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 7px;
  color: white;
  padding: 10px;
  animation: aparecer 0.5s ease-out forwards;
  animation-delay: var(--delay);
  opacity: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'LeagueSpartan';

}

.aceite img{
    width: 100%;
}

.aceite{
    width: 35%;
    height: 15%;
    top: 42%;
    left: 32.5%;
    background: none;
    box-shadow: none;
    padding: 0;
    --delay: 0.2s;
    transition: none !important;
}



.acidosGrasos{ 
    top: 6%; 
    left: 35%; 
    --delay: 0.4s;
}

.polifenoles{ 
    bottom: 6%; 
    left: 35%; 
    --delay: 0.6s
}

.tocoferoles{ 
    top: 41%; 
    right: 91%; 
    --delay: 0.8s;
}

.compVolAro{ 
    top: 41%; 
    left: 91%;
    --delay: 1s; 
}

.nodo:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes aparecer {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.aceite:hover {
  transform: none;
  box-shadow: none;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#dialogMindMap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 3.5px solid #c3981d;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;

}

#cerrarBoton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.contenidoDialogo {
  margin-top: 20px;
  margin-bottom: 20px;
}

#infoTitulo {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  color: #c3981d;
}

#infoContenido p {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  line-height: 1.3;
}

#infoContenido p .inofNegrita{
    font-weight: bold;
    color: #c3981d;
}

#contenTituloCompQui{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Gliker';
    color: #c3981d;
    font-size: 15px;
    
}

/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    .nodo {
        font-size: 10px;
    }

    #cerrarBoton {
        width: 10px;
        height: 10px;
    }

    #infoTitulo {
        font-size: 1rem;
    }

    #infoContenido p {
        font-size: 0.95rem;
    }

    #contenTituloCompQui{
        font-size: 1.2rem;
    }
}   

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .nodo {
        font-size: 14px;
    }

    .mapa {
        max-width: 58%;
    }

    #cerrarBoton {
        width: 15px;
        height: 15px;
    }

    #infoTitulo {
        font-size: 1.2rem;
    }

    #infoContenido p {
        font-size: 1rem;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    .nodo {
        font-size: 16px;
    }

    .mapa {
        max-width: 48%;
    }

    #dialogMindMap {
        width: 80%;
        max-width: 450px;
    }

    #cerrarBoton {
        width: 15px;
        height: 15px;
    }

    #infoTitulo {
        font-size: 1.3rem;
    }

    #infoContenido p {
        font-size: 1.1rem;
    }

    #contenTituloCompQui{
        font-size: 1.4rem;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .nodo {
        font-size: 18px;
    }

    .mapa {
        max-width: 45%;
    }

    #dialogMindMap {
        width: 80%;
        max-width: 480px;
    }

    #cerrarBoton {
        width: 18px;
        height: 18px;
    }

    #infoTitulo {
        font-size: 1.4rem;
    }

    #infoContenido p {
        font-size: 1.2rem;
    }

}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .nodo {
        font-size: 22px;
    }

    .mapa {
        max-width: 42%;
    }

    #dialogMindMap {
        width: 80%;
        max-width: 590px;
    }

    #cerrarBoton {
        width: 20px;
        height: 20px;
    }

    #infoTitulo {
        font-size: 1.5rem;
    }

    #infoContenido p {
        font-size: 1.3rem;
    }

    #contenTituloCompQui{
        font-size: 1.6rem;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .nodo {
        font-size: 24px;
    }

    .mapa {
        max-width: 40%;
    }

    #dialogMindMap {
        width: 80%;
        max-width: 620px;
    }

    #cerrarBoton {
        width: 22px;
        height: 22px;
    }

    #infoTitulo {
        font-size: 1.7rem;
    }

    #infoContenido p {
        font-size: 1.4rem;
    }
}