/* Parte del valor-nutricional */
:root {
    /* Infografia */
    --color-capa1: #dbab89; /* InfoCascara */
    --color-capa2: #9da6a4; /* InfoClara */
    --color-capa3: #fab635; /* InfoYema */
}

/* ============================================================
ESTILOS ESPECÍFICOS: HUEVO
============================================================ */

/* Tags específicos del huevo */
.cascara { background: #d8b08c; color: #3b2f2f; }
.clara { background: #f8fafc; color: #334155; border: 1px solid #e2e8f0; }
.yema { background: #f7c548; color: #3b2f2f; }

/* Infografía SVG y Partes */
#infografia {
    display: flex;
    align-items: center;
}

#infografia .nutrition-grid {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#svg1 {
    padding: 20px;
    flex: 0 0 380px;
    max-width: 380px;
    width: 100%;
    display: block;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.08));
}

.infoParte {
    display: none;
    text-align: left;
    background: white;
    border-radius: 18px;
    border: 1px solid #e2e8f0;
    padding: 12px 14px;
    transition: 0.3s;
}

.infoParte:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.infoParte strong {
    display: block;
    font-size: 17px;
    margin-bottom: 4px;
    color: #0f172a;
}

.infoParte li {
    font-size: 15px;
    line-height: 1.35;
    margin: 0;
    color: #64748b;
    list-style: disc; /* Asegura que se vean los puntos si es una lista */
}

@media (max-width: 768px) {

    /* Ajustes específicos huevo en móvil */
    #infografia {
        flex-direction: column;
        align-items: center;
    }

    #svg1 {
        max-width: 300px;
        flex: none;
    }

    #infografia .nutrition-grid {
        width: 100%;
    }
}