/* Default ---- < 400px */
:root {
    --fondo-personalizado: #fbcba3;
    --color-principal-banner: #e78224;
    --color-borde-banner: #e78224;
    --color-fondo-banner: white;
    --color-letra-intro: #545454;
}

#bannerImg {
    position: absolute;
    top: 25px;
    left: 67%;
    height: 76px;
	z-index: 1;
}


/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    #bannerImg {
        top: 17px;
        left: 66%;
        height: 96px;
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    #bannerImg {
        top: 7px;
        left: 62%;
        height: 115px;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    #bannerImg {
        top: 40px;
        left: 60%;
        height: 230px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    #bannerImg {
        top: 10px;
        left: 60%;
        height: 270px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
	#bannerImg {
        top: 10px;
        left: 65%;
        height: 320px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    #bannerImg {
        top: 2px;
        left: 65%;
        height: 350px;
    }
}