:root {
    --letra: black;
    --letras: #c3981d;
    --color-principal: #c3981d;

    /* FUENTES */ /* index (home) */
    --index-font: 'Gliker', sans-serif;
    --font-secundario: 'LeagueSpartan', sans-serif;

    /* PESTANNAS */
    --pestannas-bg: #fef3d7;
    --pestannas-color: #c3981d;
    --pestannas-hover: #e2ba49;
    --pestannas-active: #edc454;
    --pestannas-texto: white;

    /* FOOTER y NAV*/
    --nav-footer-primary: #c3981d;
    --nav-footer-secondary: white;
    --nav-bg: #edc454;
}