:root {
    --letra: black;
    --letras: #8b461b;
    --color-principal: #8b461b;

    /* FUENTES */
    --font-primary: 'Gliker', sans-serif;
    --font-secondary: 'LeagueSpartan', sans-serif;

    /* PESTANNAS */
    --pestannas-bg: #ecebe9;
    --pestannas-color: #8b461b;
    --pestannas-hover: #744223;
    --pestannas-active: #713916;
    --pestannas-texto: white;

    /* FOOTER y NAV*/
    --nav-footer-primary: #8b461b;
    --nav-footer-secondary: #ecebe9;
    --nav-bg: #713916;
}