/* Default ---- < 400px */
:root {
    --fondo-personalizado: #fbbbb1;
    --color-principal-banner: #ab2a20;
    --color-borde-banner: #ab2a20;
    --color-fondo-banner: white;
    --color-letra-intro: #545454;
}

#bannerImg {
    position: absolute;
    top: 23px;
    left: 63%;
    height: 43px;
    transform: rotate(13deg);
	z-index: 1;
}


/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    #bannerImg {
        top: 17px;
        left: 63%;
        height: 62px;
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    #bannerImg {
        top: 17px;
        left: 63%;
        height: 70px;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    #bannerImg {
        top: 70px;
        left: 52%;
        height: 230px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    #bannerImg {
        top: 65px;
        left: 54%;
        height: 250px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    #bannerImg {
        top: 45px;
        left: 52%;
        height: 270px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    #bannerImg {
        top: 50px;
        left: 55%;
        height: 290px;
    }
}