:root {
    --letra: black;
    --letras: #ab2a20;
    --color-principal: #ab2a20;

    /* FUENTES */
    --font-primary: 'Gliker', sans-serif;
    --font-secondary: 'LeagueSpartan', sans-serif;

    /* PESTANNAS */
    --pestannas-bg: #fbbbb1;
    --pestannas-color: #ab2a20;
    --pestannas-hover: #df5046;
    --pestannas-active: #e65d53;
    --pestannas-texto: white;

    /* FOOTER y NAV*/
    --nav-footer-primary: #ab2a20;
    --nav-footer-secondary: #fbbbb1;
    --nav-bg: #e65d53;
}