:root {
    --letra: #000000;
    --letras: #;
    --color-principal: #77b4d8;

    /* FUENTES */ /* index (home) */
    --index-font: 'Gliker', sans-serif;

    /* PESTANNAS */
    --pestannas-bg: #e9e9e9;
    --pestannas-color: #77b4d8;
    --pestannas-hover: #2875a8;
    --pestannas-active: #2980b9;
    --pestannas-texto: white;

    /* FOOTER y NAV*/
    --nav-footer-primary: #77b4d8;
    --nav-footer-secondary: white;
    --nav-bg: #2980b9;
}