@font-face {
    font-family: 'Gliker';
    src: url('../../tipoLetra/Gliker-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#contenTituloSimu{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Gliker';
    color: #e78224;
    font-size: 15px;
}

#contenSimulador {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#formuSimulador {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 450px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ddd;
}

#formuSimulador p{
    margin-bottom: 20px;
    font-weight: bolder;
    color: #e78224;
    font-size: large;
}

#formuSimulador label{
    margin-left: 20px;
}

#botonFrescura{
    width: 200px;
    padding: 5px 10px;
    background-color: #e78224;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#botonFrescura:hover {
  background-color: #fb8a20;
}

#botonFrescura:active {
  background-color: #ec7200;
}

#resultadoSimulador {
    width: 100%;
    height: 450px;
    padding: 1rem;
    border: 2px solid #ec7200;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
}


.estadoInicial{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#resultadoSimulador h2{
    color: #e78224;
    margin-bottom: 10px;
    margin-top: 5px;
}


#phBarras {
  display: none;
  margin-top: 1rem;
}

.barrasFondo{
    background:#ccc;
    height:10px;
    border-radius:5px;
    width:100%;
    margin-bottom: 15px;
}

#phBarras p{
    margin-bottom: 15px;
}

#barraClara{
    background:#22a6b3;
    height:10px;
    width:0%;
    border-radius:5px;
}

#barraYema{
    background:#f39c12;
    height:10px;
    width:0%;
    border-radius:5px;
}

.estadoFinal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagenSimulador{
    width: 120px;
    margin-bottom: 5px;
}

.contenResultadoContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.datosSimulador,.contenImagenSimulador {
    width: 100%;
    text-align: center;
}



/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    #contenTituloSimu{
        font-size: 1.2rem;
    }


    #contenSimulador {
        font-size: 1.1rem;
    }


    #formuSimulador p{
        margin-bottom: 25px;
        font-size: 1.2rem;
    }
}   

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    #formuSimulador {
        width: 80%;
    }

    #resultadoSimulador {
        width: 80%;
    }

    #contenSimulador {
        font-size: 1.2rem;
    }

    #formuSimulador p{
        font-size: 1.3rem;
    }

}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    #contenTituloSimu{
        font-size: 1.4rem;
    }

    #contenSimulador {
        flex-direction: row-reverse; 
    }

    #formuSimulador {
        width: 34%;
        border-radius: none;
        box-shadow: none;
        height: 400px;
    }

    #resultadoSimulador {
        width: 60%;
        height: 400px;
    }

    .contenResultadoContenido {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }

    .datosSimulador {
        width: 60%;
        text-align: left;
    }

    .contenImagenSimulador {
        width: 45%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    #imagenSimulador{
        width: 80%;
    }

    #resultadoSimulador h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
    }

    #mensajeResultado {
        white-space: nowrap;
    }

    #mensajeEstadoHuevo{
        margin-top: 30px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    #contenSimulador {
        font-size: 1.2rem;
        
    }

    #formuSimulador {
        width: 38%;
    }

    #resultadoSimulador {
        width: 56%;
    }

    #formuSimulador p{
        font-size: 1.3rem;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    #contenTituloSimu{
        font-size: 1.6rem;
    }

    #contenSimulador {
        font-size: 1.4rem;
        
    }

    #formuSimulador {
        width: 41%;
    }

    #resultadoSimulador {
        width: 52%;
    }

    #formuSimulador p{
        font-size: 1.5rem;
    }

    .contenImagenSimulador {
        margin-right: 80px;
    }

    #imagenSimulador{
        width: 90%;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    #contenTituloSimu{
        font-size: 1.8rem;
    }
}