.infoParte {
    margin-top: 20px;
    display: none; 
    background: #f8fcff; /* Fondo muy claro, casi blanco azulado */
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(30, 69, 110, 0.06); /* Sombra suave en azul */
    padding: 32px 32px 24px 32px;
    margin: 32px auto 0 auto;
    max-width: 900px;
    color: #204060; /* Azul grisáceo para el texto */
    font-family: 'HK Grotesk', 'Leto Text Sans', Arial, Helvetica, sans-serif; /* Sans-serif legible */
    font-size: 1.09rem;
    line-height: 1.7;
}

.infoParte h2 {
    color: #77b4d8; 
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
    text-align: left;
}

.infoParte p {
    margin-bottom: 14px;
    text-align: justify;
}

.infoParte img {
    display: block;
    max-width: 90%;   
    padding: 8px;
}

.contenedorParamfq {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;     
    justify-content: flex-start; 
    padding: 25px;
    padding-top: 20px;
}

.contenedorVideo {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.contenedorVideo iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#graficaDensidad {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.gif-css {
    width: 200px;
    height: 300px;
    background-image: url('../../img/microOrgLeche1.png');
    background-size:cover;
    animation: gifFrames 1s steps(2) infinite;
}

@keyframes gifFrames {
  0%   { background-image: url('../../img/microOrgLeche1.png'); }
  50%  { background-image: url('../../img/microOrgLeche2.png'); }
  100% { background-image: url('../../img/microOrgLeche1.png'); }
}

.tituloParamfq {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
  
#resultadoAcidez, #resultadopH, .informacionParamfq{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
}

.contenedorAcidez img, .contenedorPh img {
    margin-top: 20px; 
    min-width: 19%; 
}

#informacionAcidezLeche, #informacionPhLeche {
    margin-top: 30px; 
    font-size: 15px;
    line-height: 1.4;
    color: #204060;
}

.contenedorParamfq label {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    gap: 10px;
}

#valoresRango{
    display: flex;
    justify-content: space-between; 
    width: 100%;
} 

input[type="range"] {
    width: 100%;  
    height: 6px; 
    appearance: none;             
    -webkit-appearance: none;     
    -moz-appearance: none; 
    background: transparent; 
    margin-top: 10px;
    border-radius: 10px;
}
  
/* Estilo de la barra*/
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 10px;
}
  
input[type="range"]::-moz-range-track {
    height: 5px;
    border-radius: 10px;
}
  
input[type="range"]::-ms-track {
    height: 5px;
    border-radius: 10px;
    border: none;
    color: transparent;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
    margin-top: -6px; 
}
  
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
}

input[type="range"]::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
}

#botonesAcidez{
    max-width: 1000px;
    width: 90%;
}

button {
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 24px;
    background-color: #77b4d8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #86c7ed;
}

/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    .tituloParamfq h3 {
        font-size: 18px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche,
    .informacionParamfq {
        font-size: 15px;
    }

    .contenedorVideo {
        max-width: 350px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 6px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 16px;
        height: 16px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 16px;
        height: 16px;
    }

    button {
        font-size: 15px;
        padding: 10px 14px;
    }

    #botonesAcidez, #botonesPh {
        width: 100%;
        max-width: 340px; /* O el ancho que prefieras */
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .tituloParamfq h3 {
        font-size: 20px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche,
    .informacionParamfq {
        font-size: 16px;
    }

    .contenedorVideo {
        max-width: 480px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 7px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 17px;
        height: 17px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 17px;
        height: 17px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 17px;
        height: 17px;
    }

    button {
        font-size: 15px;
        padding: 11px 18px;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    .tituloParamfq h3 {
        font-size: 22px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche,
    .informacionParamfq {
        font-size: 17px;
    }

    .contenedorVideo {
        max-width: 700px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 8px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 18px;
        height: 18px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 18px;
        height: 18px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 18px;
        height: 18px;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 17px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .tituloParamfq h3 {
        font-size: 23px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche,
    .informacionParamfq {
        font-size: 18px;
    }

    .contenedorVideo {
        max-width: 900px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 9px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 19px;
        height: 19px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 19px;
        height: 19px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 19px;
        height: 19px;
    }

    .contenedorAcidez {
        display: flex;
        align-items: flex-start;
    }

    #informacionAcidezLeche, #informacionPhLeche {
        margin-left: 20px;
    }
    
    button {
        font-size: 18px;
        padding: 14px 28px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .tituloParamfq h3 {
        font-size: 24px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche,
    .informacionParamfq {
        font-size: 19px;
    }
    
    .contenedorVideo {
        max-width: 1200px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 10px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .tituloParamfq h3 {
        font-size: 25px;
    }

    .contenedorParamfq label,
    .contenedorParamfq,
    #resultadoAcidez,
    #resultadopH,
    .infoParte,
    #informacionAcidezLeche,
    #informacionPhLeche, 
    .informacionParamfq {
        font-size: 20px;
    }

    .contenedorVideo {
        max-width: 1400px;
        margin: 0 auto;
    }

    input[type="range"] {
        height: 13px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 23px;
        height: 23px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 23px;
        height: 23px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 23px;
        height: 23px;
    }
}

