#contenParamFi{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Gliker';
    color: #6e8192;
    font-size: 15px;
}

#contenInfoParamFi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.infoParamFi {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0; 
    width: 100%;
    height: 160px;
    border: 2px solid #6e8192;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.infoParamFi:hover {
    transform: translateY(-5px);
}

#imgInfoParamFi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cajaImgParamFi {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0; 
    width: 100%;
    border: 2px solid #6e8192;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.infoParamFiTit{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gliker';
    color: #6e8192;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaImgParamFi:hover {
    transform: translateY(-5px);
}

.cajaImgParamFi img{
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    object-fit: cover;
}

.infoParamFiDesc{
    margin-top: 20px;
}

.infoParamFiTit img{
    width: 40px;
    margin-right: 10px;
}



/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    #contenParamFi{
        font-size: 1.2rem;
    }

    .infoParamFi {
        width: 80%;
    }

    .cajaImgParamFi {
        width: 80%;
    }

    
    .infoParamFiTit{
        font-size: 1.2rem;
    }
}   

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .infoParamFi {
        width: 45%;
        margin: 20px 5px; 
    }

    .cajaImgParamFi {
        width: 45%;
        margin: 20px 5px; 
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    #contenParamFi{
        font-size: 1.4rem;
    }

    .infoParamFi {
        width: 40%;
        margin: 20px; 
    }

    .cajaImgParamFi {
        width: 45%;
        margin: 20px; 
    }

    .infoParamFiTit{
        font-size: 1.3rem;
    }

    .cajaImgParamFi img{
        width: 240px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .infoParamFi {
        width: 35%;
        margin: 20px; 
    }

    .cajaImgParamFi {
        width: 35%;
        margin: 20px; 
    }

    .cajaImgParamFi img{
        width: 265px;
    }
    .cajaImgParamFi {
        height: 270px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    #contenParamFi{
        font-size: 1.6rem;
    }

    .infoParamFi {
        width: 20%;
        margin: 20px; 
    }

    .infoParamFiTit{
        font-size: 1.5rem;
    }

    .cajaImgParamFi img{
        width: 290px;
    }

    .cajaImgParamFi {
        height: 300px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .infoParamFi {
        width: 20%;
        margin: 20px; 
    }
}