:root {
    --letra: black;
    --letras: #6e8192;
    --color-principal: #6e8192;

    /* FUENTES */
    --font-primary: 'Gliker', sans-serif;
    --font-secondary: 'LeagueSpartan', sans-serif;

    /* PESTANNAS */
    --pestannas-bg: #e0d1cb;
    --pestannas-color: #6e8192;
    --pestannas-hover: #8fa7bd;
    --pestannas-active: #9ab5ce;
    --pestannas-texto: white;

    /* FOOTER y NAV*/
    --nav-footer-primary: #6e8192;
    --nav-footer-secondary: #e0d1cb;
    --nav-bg: #9ab5ce;
}