:root {
    --letra: black;
    --color-principal: #6e8192;

    --color-capa1: #dbab89;
    --color-capa2: #9da6a4;
    --color-capa3: #fab635;

    /* CURIOSIDADES */
    --color-fondo: #fae6d3;
    --color-fondo-blanco: #ffffff;
    --letra-curiosidades: #f1a16b;

    /* FUENTES */
    --font-primary: 'Gliker', sans-serif;
    --font-secondary: 'LeagueSpartan', sans-serif;


    /* PESTANNAS */
    --color-1: #e0d1cb;
    --color-hover: #8fa7bd;
    --color-active: #9ab5ce;
    --color-letra-pestannas: white;


    /* FOOTER y NAV*/
    --color-principal-footer-nav: #6e8192;
    --color-secundario-footer-nav: #e0d1cb;
    --color-fondo-nav: #9ab5ce;
}